.compose {
  padding: 10px;
  display: flex;
  align-items: center;
  background: white;
  border-top: 1px solid #eeeef1;
  position: fixed;
  width: calc(100% - 350px);
  bottom: 0px;
  right: 0px;
}

@supports (backdrop-filter: blur(20px)) {
  .compose {
    border: none;
    background-color: rgba(0, 122, 255, 0.8);
    backdrop-filter: blur(20px);
  }
}

.compose-input {
  padding: 0 10px 0 10px;
  flex: 1;
  border: none;
  font-size: 14px;
  height: 40px;
  border-radius: 10px;
  text-align: right;
  margin-left: 15px;
}

.compose-input::placeholder {
  opacity: 0.3;
}

.compose .toolbar-button {
  color: #bbbbbf;
  margin-left: 15px;
}

.compose .toolbar-button:hover {
  color: #99999c;
}